/*Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General*/

body{
    font-family: 'Lato', sans-serif;
}
section{
    position: relative;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.fixed{
    position: fixed;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

/*Upper section*/

#upper-section{ 
    width: 100vw; /* vw = Viewport width */
    height: 100vh; /* vh = Viewport height */
}

#upper-section .video-container{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: 100vh;
}
#upper-section .video-container video{ /*fullscreen video*/
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

#logo{
    width: 125px;
    padding:10px 0 0 20px; /*top right bottom left*/
}
.pre-order{
    font-weight: 700;
    color: white; 
    text-decoration: none;
    background-color: #40a9ca;
    float: right;
    padding: 10px 44px;
    margin: 15px 20px;
    border-radius: 30px;
}

.container h1{
    color: white;
    font-size: 52px;
    font-weight: 700;
    margin-top: 12.5%;
    margin-left: 20px;
    margin-bottom: 42px;
}
#play-video-button{
    margin-left: 20px;
}

/*Testimonials section*/

#testimonials-section{
    background-color: white;
}
#images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid #ccc;
}
#images li{
    height: 222px;
    width: 166px;
}

/*Meet knocki*/

#meet-knocki{
    background-color: white;
}
.text h2{
    padding: 40px 0px 32px; 
    font-size: 36px;
}
.text p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 40px;
}
#device{
    height: 383.39px;
    width: 450px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 80px;
}